@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    scroll-behavior: smooth;
<<<<<<< HEAD
    font-family: 'Josefin Sans';
}

#app {
    font-family: 'Josefin Sans';
}
=======
}

.shadow-top-right-bottom {
    box-shadow: 20px 20px 5px -5px rgba(100, 100, 100, 100.75);
}
>>>>>>> 509e8969240b5dfcf8df80a235d94b9deffcc7fa
